body {
    line-height: 1.65;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    color: #393d41 ;

}

main div h1 {
    padding: 0.5em;
    font-size: 1.5em;
}
#sfondo {
    background-image: url(../images/banner.jpg);
    background-position: 50%;
    background-size: 30em;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-align: center;
    
}
.class {
    padding: 2em;
}
.button {
    padding: 0.5em;
    text-transform: uppercase;
    background-color: #f04c2f;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    margin: 3em;

}


header {
    background-color: black;
    padding: 1em;
    
    
    
    
}

h1, h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3 ;

}
.lavora {
    text-align: center;
    padding: 1em;
}
.rotondo {
    border-radius: 50%;
}

.ruolo {
    text-align: center;
    padding: 1em;
}
article {
    background-color: #f04c2f ;
    text-align: center;
    padding: 1em;
    color: white;
}

article h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
}
article p {
    padding: 0.5em;
    font-style: italic;
    font-size: 1em;
}
article h6 {
    font-size: 0.7em;
}
.sezione1 {
    border-color: #dee1e3;
    text-align: center;
    padding: 1em;
    border-radius: 10%;
}
.sezione2 {
    border-color: #dee1e3;
    text-align: center;
    padding: 1em;
    border-radius: 10%;
}

.sezione3 {
    border-color: #dee1e3;
    text-align: center;
    padding: 1em;
    border-radius: 10%;

}


footer {
    background-color: #25a2c3;
    text-align: center;
    
} 
footer p {
  color:  #c8e7f0
}
footer p a {
    color: #c8e7f0;
}

footer h4 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em;
}
footer address {
    padding: 1em;
}
.ultimo {
    font-size: 14px;
    padding: 1em;
}
